<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetsGramm - Forgot password</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <div
      class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
    >
      <div class="max-w-md w-full">
        <div>
          <div class="text-center">
            <a href="/" class="text-2xl" style="font-family: 'Comic Sans MS'">
              PetsGramm
            </a>
          </div>
          <h2
            class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900"
          >
            Forgot password
          </h2>
        </div>
        <form class="mt-8" action="/forgot-password" method="POST">
          <div class="rounded-md shadow-sm">
            <div class="input-group">
              <input
                aria-label="Email address"
                name="email"
                type="email"
                required
                class="input"
                placeholder="Email address"
              />
            </div>
          </div>
          <div class="mt-6">
            <button type="submit" class="w-full btn btn-primary">
              Send recovery email
            </button>
          </div>
        </form>
      </div>
    </div>

    <script type="module">
      import { xios } from "/api.js";

      document.querySelector("form").addEventListener("submit", async (e) => {
        e.preventDefault();

        const formData = new FormData(e.target);

        const { link, error } = await xios("/forgot-password", {
          email: formData.get("email"),
        });

        if (link) {
          alert(link);
        } else {
          alert(error);
        }
      });
    </script>
  </body>
</html>
