<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetsGramm</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="bg-white max-w-screen-lg mx-auto">
      <div class="px-4 border-b-2 border-gray-100">
        <div class="flex justify-between items-center py-6">
          <div class="lg:w-0 lg:flex-1">
            <a
              href="/"
              class="flex text-2xl"
              style="font-family: 'Comic Sans MS'"
            >
              PetsGramm
            </a>
          </div>
          <div class="flex items-center justify-end space-x-8">
            <% if (user) { %>
            <a
              href="/profile"
              class="whitespace-no-wrap text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900"
            >
              <%= user.name %>
            </a>
            <% } else { %>
            <a href="/signin" class="btn btn-secondary"> Sign in </a>
            <a href="/signup" class="btn btn-primary"> Sign up </a>
            <% } %>
          </div>
        </div>
      </div>
      <div class="px-4 py-6 border-b-2 border-gray-100">
        <div class="flex items-center">
          <img
            class="h-20 w-20 md:w-40 md:h-40 rounded-full mr-10 object-cover"
            src="/images/avatar.webp"
            lazy
            alt="avatar"
          />
          <div>
            <h2 class="text-2xl pb-2">Tiffani</h2>
            <div class="text-gray-600">Moscow</div>
            <div class="text-gray-600">Pomeranian</div>
          </div>
        </div>
      </div>
      <div class="p-4 grid grid-cols-3 gap-4">
        <div class="card">
          <img lazy src="/images/1.webp" alt="" />
        </div>
        <div class="card">
          <img lazy src="/images/2.webp" alt="" />
        </div>
        <div class="card">
          <img lazy src="/images/3.webp" alt="" />
        </div>
        <div class="card">
          <img lazy src="/images/4.webp" alt="" />
        </div>
        <div class="card">
          <img lazy src="/images/5.webp" alt="" />
        </div>
        <div class="card">
          <img lazy src="/images/6.webp" alt="" />
        </div>
        <div class="card">
          <img lazy src="/images/7.webp" alt="" />
        </div>
        <div class="card">
          <img lazy src="/images/8.webp" alt="" />
        </div>
        <div class="card">
          <img lazy src="/images/9.webp" alt="" />
        </div>
        <div class="card">
          <img lazy src="/images/10.webp" alt="" />
        </div>
        <div class="card">
          <img lazy src="/images/11.webp" alt="" />
        </div>
        <div class="card">
          <img lazy src="/images/12.webp" alt="" />
        </div>
      </div>
    </div>

    <div class="fixed z-10 inset-0 overflow-y-auto js-key-modal hidden">
      <div
        class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
      >
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <span
          class="hidden sm:inline-block sm:align-middle sm:h-screen"
          aria-hidden="true"
          >&#8203;</span
        >
        <div
          class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
          role="dialog"
          aria-modal="true"
          aria-labelledby="modal-headline"
        >
          <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">
              <div
                class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10"
              >
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4"
                  ></path>
                </svg>
              </div>
              <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                <h3
                  class="text-lg leading-6 font-medium text-gray-900"
                  id="modal-headline"
                >
                  Activate fast sign in
                </h3>
                <div class="mt-2">
                  <p class="text-sm text-gray-500">
                    Are you sure you want to activate fast sign in? It will be
                    fater, so faster
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex justify-between sm:flex-row-reverse"
          >
            <button
              type="button"
              class="w-full inline-flex btn btn-primary sm:w-auto sm:text-sm js-activate"
            >
              Activate
            </button>
            <button
              type="button"
              class="mt-3 w-full btn btn-secondary sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm js-cancel"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <% if (canAskWebAuth) { %>
    <script type="module">
      import { xios } from "/api.js";
      import {
        convertCreateCredential,
        convertCreateOptions,
      } from "/webauthn-helpers.js";

      PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable().then(
        (result) => {
          if (result) {
            document.querySelector(".js-key-modal").classList.remove("hidden");
          }
        }
      );

      document.querySelector(".js-cancel").addEventListener("click", () => {
        document.querySelector(".js-key-modal").classList.add("hidden");
      });

      document
        .querySelector(".js-activate")
        .addEventListener("click", async () => {
          /*
          {
            ...,
            "authenticatorSelection": {
              ...
              "authenticatorAttachment": "platform"
            }
          }
          */
          const { options } = await xios("/add-key/challenge", {
            resign: true,
          });

          let credential;
          try {
            credential = await navigator.credentials.create({
              publicKey: convertCreateOptions(options),
            });
          } catch (e) {
            alert("navigator.credentials.create error: " + e.message);
            return;
          }

          const { success, error } = await xios("/add-key/verify", {
            options: convertCreateCredential(credential),
            resign: true,
          });

          if (success) {
            document.querySelector(".js-key-modal").classList.add("hidden");
            alert("Done!");
          } else {
            alert(error || "Something wrong");
          }
        });
    </script>
    <% } %>
  </body>
</html>
