<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetsGramm - Profile</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="bg-white max-w-screen-lg mx-auto pt-10">
      <div>
        <div class="md:grid md:grid-cols-3 md:gap-6">
          <div class="md:col-span-1">
            <div class="px-4 sm:px-0">
              <h3 class="text-lg font-medium leading-6 text-gray-900">
                Log out
              </h3>
              <p class="mt-1 text-sm leading-5 text-gray-600">
                Some smart text
              </p>
            </div>
          </div>
          <div class="mt-5 md:mt-0 md:col-span-2">
            <form action="/logout" method="POST">
              <button class="w-full btn btn-primary">Log Out</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
