<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PetsGramm - Sing in</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <div
      class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
    >
      <div class="max-w-md w-full">
        <div>
          <div class="text-center">
            <a href="/" class="text-2xl" style="font-family: 'Comic Sans MS'">
              PetsGramm
            </a>
          </div>
          <h2
            class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900"
          >
            Sign in to your account
          </h2>
        </div>
        <form action="/signin" method="POST">
          <div class="mt-6">
            <button type="submit" class="w-full btn btn-primary">
              Sign in
            </button>
          </div>
          <div class="mt-6">
            <a href="/signup" class="w-full btn btn-secondary">Sign up</a>
          </div>
        </form>
      </div>
    </div>
    <script type="module">
      import { xios } from "/api.js";
      import {
        convertGetOptions,
        convertGetCredential,
      } from "./webauthn-helpers.js";

      document.querySelector("form").addEventListener("submit", async (e) => {
        e.preventDefault();

        const formData = new FormData(e.target);

        const { options } = await xios("/signin/challenge");

        let credential;

        try {
          credential = await navigator.credentials.get({
            publicKey: convertGetOptions(options),
          });
        } catch (e) {
          alert("navigator.credentials.get error: " + e.message);
          return;
        }

        const { success, error } = await xios(
          "/signin",
          convertGetCredential(credential)
        );

        if (success) {
          location.href = "/";
        } else {
          alert(error || "Not valid token");
        }
      });
    </script>
  </body>
</html>
